In [27]:
import numpy as np 
import pandas as pd 
from bs4 import BeautifulSoup
import requests
from sklearn.cluster import KMeans
print('Libraries imported.')

Libraries imported.

In [28]:
source = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text
soup = BeautifulSoup(source, 'lxml')

### Using scraping libraries and packages like BeautifulSoup.

In [29]:
class Scrapy:
       
        def parse_url(self, url):
            response = requests.get(url)
            soup = BeautifulSoup(response.text, 'lxml')
            return [(self.parse_html_table(table))\
                    for table in soup.find_all('table', class_="wikitable sortable")]  
    
        def parse_html_table(self, table):
            n_columns = 0
            n_rows=0
            column_names = []
            for row in table.find_all('tr'):
                td_tags = row.find_all('td')
                if len(td_tags) > 0:
                    n_rows+=1
                    if n_columns == 0:
                        n_columns = len(td_tags)
                        
                th_tags = row.find_all('th') 
                if len(th_tags) > 0 and len(column_names) == 0:
                    for th in th_tags:
                        column_names.append(th.get_text())
    
            if len(column_names) > 0 and len(column_names) != n_columns:
                raise Exception("Column titles do not match the number of columns")
    
            columns = column_names if len(column_names) > 0 else range(0,n_columns)
            df = pd.DataFrame(columns = columns,
                              index= range(0,n_rows))
            row_marker = 0
            for row in table.find_all('tr'):
                column_marker = 0
                columns = row.find_all('td')
                for column in columns:
                    df.iat[row_marker,column_marker] = column.get_text()
                    column_marker += 1
                if len(columns) > 0:
                    row_marker += 1
                    
            for col in df:
                try:
                    df[col] = df[col].astype(float)
                except ValueError:
                    pass
            
            return df

### Displaying the data given from Wikipedia.

In [30]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
hp = Scrapy()
table = hp.parse_url(url)[0] 
table.head(12)

   Postcode           Borough     Neighbourhood\n
0       M1A      Not assigned      Not assigned\n
1       M2A      Not assigned      Not assigned\n
2       M3A        North York         Parkwoods\n
3       M4A        North York  Victoria Village\n
4       M5A  Downtown Toronto      Harbourfront\n
5       M5A  Downtown Toronto       Regent Park\n
6       M6A        North York  Lawrence Heights\n
7       M6A        North York    Lawrence Manor\n
8       M7A      Queen's Park      Not assigned\n
9       M8A      Not assigned      Not assigned\n
10      M9A         Etobicoke  Islington Avenue\n
11      M1B       Scarborough             Rouge\n

### Removing 'Not  Assigned' value from Column 'Borough'.

In [32]:
table = table[table.Borough != 'Not assigned']
table.head(12)

   Postcode           Borough     Neighbourhood\n
2       M3A        North York         Parkwoods\n
3       M4A        North York  Victoria Village\n
4       M5A  Downtown Toronto      Harbourfront\n
5       M5A  Downtown Toronto       Regent Park\n
6       M6A        North York  Lawrence Heights\n
7       M6A        North York    Lawrence Manor\n
8       M7A      Queen's Park      Not assigned\n
10      M9A         Etobicoke  Islington Avenue\n
11      M1B       Scarborough             Rouge\n
12      M1B       Scarborough           Malvern\n
14      M3B        North York   Don Mills North\n
15      M4B         East York  Woodbine Gardens\n

## Removing '\n' value off of Table.

In [33]:
print(list(table))
table = table.replace('\n',' ', regex=True)
table.head(12)

['Postcode', 'Borough', 'Neighbourhood\n']

   Postcode           Borough    Neighbourhood\n
2       M3A        North York         Parkwoods
3       M4A        North York  Victoria Village
4       M5A  Downtown Toronto      Harbourfront
5       M5A  Downtown Toronto       Regent Park
6       M6A        North York  Lawrence Heights
7       M6A        North York    Lawrence Manor
8       M7A      Queen's Park      Not assigned
10      M9A         Etobicoke  Islington Avenue
11      M1B       Scarborough             Rouge
12      M1B       Scarborough           Malvern
14      M3B        North York   Don Mills North
15      M4B         East York  Woodbine Gardens

### Removing 'Not  Assigned' value from Column 'Neighborhood'.

In [34]:
table = table[table['Neighbourhood\n'] != 'Not assigned']
table.head(12)

   Postcode           Borough    Neighbourhood\n
2       M3A        North York         Parkwoods
3       M4A        North York  Victoria Village
4       M5A  Downtown Toronto      Harbourfront
5       M5A  Downtown Toronto       Regent Park
6       M6A        North York  Lawrence Heights
7       M6A        North York    Lawrence Manor
8       M7A      Queen's Park      Not assigned
10      M9A         Etobicoke  Islington Avenue
11      M1B       Scarborough             Rouge
12      M1B       Scarborough           Malvern
14      M3B        North York   Don Mills North
15      M4B         East York  Woodbine Gardens

## Grouping rows into same neighborhood.

In [35]:
df = table.groupby(['Postcode','Borough'])['Neighbourhood\n'].apply(lambda x: ", ".join(x.astype(str))).reset_index()
df = df.sample(frac=1).reset_index(drop=True)
df.head(10)

  Postcode           Borough                            Neighbourhood\n
0      M4B         East York          Woodbine Gardens , Parkview Hill
1      M3N        North York                       Downsview Northwest
2      M4K      East Toronto             The Danforth West , Riverdale
3      M1C       Scarborough  Highland Creek , Rouge Hill , Port Union
4      M4R   Central Toronto                        North Toronto West
5      M1H       Scarborough                                 Cedarbrae
6      M1G       Scarborough                                    Woburn
7      M5S  Downtown Toronto           Harbord , University of Toronto
8      M1X       Scarborough                               Upper Rouge
9      M2J        North York            Fairview , Henry Farm , Oriole

## Print no of Rows in dataframe.

In [36]:
print(df.shape)

(103, 3)